<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.quickstart.dao.UserDao">

    <select id="findById" resultType="com.example.quickstart.pojo.User">
<!--    <select id="findById" resultType="User">    /*要配置实体类扫描包type-aliases-package: com.example.quickstart.pojo*/-->
        select * from test.test_table where id = #{id}
    </select>

</mapper>