# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Museum.settings

[deploy:host]
url = http://123.56.13.242:6800/
project = Data_ZhaoXin
