<component name="ArtifactManager">
  <artifact type="war" name="mybatis_profile:war">
    <output-path>$PROJECT_DIR$/mybatis_profile/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis_profile</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis_profile-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis_profile:war exploded" />
    </root>
  </artifact>
</component>